<%= link_to "News Feed", :controller => "newsfeed" %>

<h1>My Huddlers Card</h1>

<div id="left-sidebar">
	Height: <%= current_user.height_ft %>' <%= current_user.height_in %>"<br />
	Weight: <%= current_user.weight %><br />
	Age: <%= current_user.age %><br />
	City: <%= current_user.city %>
</div>
