<script>
	var tggle='off'
	
	function PostHover(){ 
		if (tggle=='on'){ 
			document.Symbol1.src="/assets/post.png" 
			tggle='off'
		} else { 
			document.Symbol1.src="/assets/post_h.png" 
			tggle='on'
		} 
	}
	
	function PostClick(){ 
		if (tggle=='on'){ 
			document.Symbol1.src="/assets/post_h.png" 
			tggle='off'
		} else { 
			document.Symbol1.src="/assets/post_a.png" 
			tggle='on'
		} 
	}
</script>

<head>
<!-- <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'> -->
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<%= stylesheet_link_tag "huddlers_card.css" %>
<%= javascript_include_tag "huddlers_card.js" %>


</head>
Weight :<%= @user_profile.weight %>
ID :<%= @user_profile.id %>
<body>
<div style="" class="body-content">
	<div class="backdrop"></div>
	<div class="msg_box">
		<div class="close">x</div>
		Friend: <div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="" /></div>
		This is the lightbox!!!
								<div class="input">
              		<textarea class="xlarge" id="textarea2" name="textarea2" rows="3"></textarea>
              		<span class="help-block">
                	Block of help text to describe the field above if need be.
              		</span>
            	</div>
		<button>SEND</button>
		<a href="#" onclick="close_msg_box()"class="btn large">Cancel</a>
	</div>
	<div class="request_box">
 		<br />
 		<br />
        	<center><a href="#" class="btn large primary">Send Friend Request?</a>
        	<a href="#" onclick="close_request()"class="btn large">Cancel</a><center>
	</div>
<h1 style="padding-left:8em; padding-top:1em;">My Card</h1>
<div class="row">
	<br />
	<br />
	<div style="margin-top:-12em; height:250%; background-color:#e5e7d5;"class="span4">
		<div class="column-content">
		<br />
		<center><img src="/assets/adam2.png" width="175" style="padding-top:4em;"></center>
		<br />
		<br />
		<h4 style="padding-left:1em;">Biography</h4>
		<div style="padding:0 1em 1em 1em; width:">Lorem ipsum dolor sit amet, consectetur, adipsicing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur, adipsicing elit, sed do eiusmod tempor </div>
		<div style="padding-left:1em; padding-bottom:1em;">
			<div style="padding-top:1em; padding-bottom:1em;">
			<b>Professional Comparision:</b><br />
			Kirk Hinrich</div>
			<b>Height:</b> <%= current_user.height_ft %>5' 11<%= current_user.height_in %>"<br />
        	<b>Weight:</b> <%= current_user.weight %>180<br />
        	<b>Age:</b> 	<%= current_user.age %>25<br />
        	<b>City:</b> 	<%= current_user.city %>Toronto
        </div>

		<h4 style="padding-left:1em;">Teammates</h4>
		<div style="teammatesList">
			<center>
				<img src="/assets/tmmateli.png" style="padding-bottom:0.4em;"/><br />
				<img src="/assets/tmmateli.png" style="padding-bottom:0.4em;"/><br />
				<img src="/assets/tmmateli.png" style="padding-bottom:0.4em;"/><br />
				<img src="/assets/tmmateli.png" style="padding-bottom:0.4em;"/><br />
				<img src="/assets/tmmateli.png" style="padding-bottom:0.4em;"/><br />
			</center>
		</div>
	
		
		
		</div>
	</div>
	
	<div style="border-radius:10px; margin-top:-40px;background-color:#e9eaea;"class="span4">
		<h4 style="padding-left:1em; padding-top:0.7em;">Achievements</h4>
		<div id="achievements" style="height:200px;" class="content-box">
		yo
		</div>
		<h4 style="padding-left:1em; padding-top:0.7em;">Sports</h1>
		<div id="sports" style="height:200px;"class="content-box">
		yo
		</div>
		<h4 style="padding-left:1em; padding-top:0.7em;">Equipment</h1>
		<div id="equipments" style="height:200px;"class="content-box">
		yo
		</div>
		<h4 style="padding-left:1em; padding-top:0.7em;">My Teams</h1>
		<div id="my_teams" style="height:200px; margin-bottom:2em;" class="content-box">
		yo
		</div>
	</div>
	<div style="border-radius:10px; background-color:#e9eaea; margin-top:-40px;" id="right-most" class="span9">
		<div style="margin-right:10px; padding-top:1.2em; width:65px; height:22px; float:right;" onclick="" class="lightbox"  ><img src="/assets/message.png" /></div>
        <div style="margin-right:10px; padding-top:1.2em; width:111px; height:22px; float:right;" onclick="" class="lightbox2"><img src="/assets/teammate.png" /></div>
		<div id="activities_container" class="feed_container">
			<h4 style="padding-left:1em; padding-top:0.7em;">Recent Activites</h4>
			<div id="" class="content-box">
				<div id="feed_parcel_container">
					<div id="feed_parcel">
					
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<div id="shoutout_input" class="column-content" >
			<h4 style="padding-left:1em; padding-top:0.7em;">Shout Outs</h4>
			<div style="padding-left:1em; padding-top:0.7em; display:block; margin-left:auto; margin-right:auto;" class="input">
                        <textarea style=""class="xlarge" id="shoutout_textarea" name="textarea2" rows="3"></textarea>
      </div>
                <div onclick="shoutout_update(); save_shoutout(<%= @user_profile.id %>)"; style="width:52; height:32; cursor:hand; padding-left:1em; padding-top:0.7em;"><img src="/assets/post.png" /></div>	
								<br />
								<br />
		</div>

		<div id="real_wall" style="padding-left:1em; padding-top:0.7em;">
    		<% for post in @posts.reverse %>
			 	  <div style="margin-left:0px;margin-bottom:18px; margin-top:8px;"id="post_<%= post.id %>">
            <%= post.body %>
            <div id="">
            <a href="#" onclick="add_fan();save_fan();">Fan</a><a style="margin-bottom:90px; margin-left:10px;" onclick="open_comment(<%= post.id %>);"href="#">Comment</a>
			      </div>
            </div >
            <div id="comments_postid_<%= post.id %>">
              <% for comment in Comment.where(:post_id => post.id)%>
                <%= comment.body %>
              <% end %>
            </div>
            <div style="display:none;" id="new_comment_postid<%= post.id %>">
              <div style="margin-top:5px;margin-bottom:5px;margin-left:50px;" id="">      
                <input id="comment_<%= post.id %>"type="text" />
                <button onclick="add_comment(<%= post.id %>);">POST
				</button>
				<button style="margin-left:20px;" onclick="">
					Close
				</button>
              </div> 
            </div>
        <% end %>	
		</div>
</div>
<br />
<br />
</div>
</div>
</body>

