<head>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<%= stylesheet_link_tag "huddlers_card.css" %>
<%= javascript_include_tag "huddlers_card.js" %>


</head>


<body>
<div style="" class="body-content">
	<div class="backdrop"></div>
	<div class="msg_box">
		<div class="close">x</div>
		Friend: <div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="" /></div>
		This is the lightbox!!!
								<div class="input">
              		<textarea class="xlarge" id="textarea2" name="textarea2" rows="3"></textarea>
              		<span class="help-block">
                	Block of help text to describe the field above if need be.
              		</span>
            	</div>
		<button>SEND</button>
		<a href="#" onclick="close_msg_box()"class="btn large">Cancel</a>
	</div>
	<div class="request_box">
 		<br />
 		<br />
        	<center><a href="#" class="btn large primary">Send Friend Request?</a>
        	<a href="#" onclick="close_request()"class="btn large">Cancel</a><center>
	</div>
<h1>My Huddlers Card</h1>
<div class="row">
	<br />
	<br />
	<div style="margin-top:-120px;background-color:#e5e7d5;"class="span4">
		<div class="column-content">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<center><img src="/assets/rails.png" width="175px" height="175px"></center>
		<br />
		<br />
					Height: <%= current_user.height_ft %>' <%= current_user.height_in %>"<br />
        	Weight: <%= current_user.weight %><br />
        	Age: 		<%= current_user.age %><br />
        	City: 	<%= current_user.city %>
		<br />
		<br />
		<br />
	
		
		<h4>Biography</h4>
		</div>
	</div>
	
	<div style="margin-top:20px;background-color:#e9eaea;"class="span4">
		<h1 class="big-title">Achievements</h1>
		<div id="achievements" style="height:200px;" class="content-box">
		yo
		</div>
		<h1 class="title">Sports</h1>
		<div id="sports" style="height:200px;"class="content-box">
		yo
		</div>
		<h1 class="title">Equipment - #add erb for chosen support</h1>
		<div id="equipments" style="height:200px;"class="content-box">
		yo
		</div>
		<h1 class="title">My Teams</h1>
		<div id="my_teams" style="height:200px;" class="content-box">
		yo
		</div>
	</div>
	<div style="background-color:#e9eaea;" id="right-most" class="span9">
		<button style="margin-right:10px; float:right;" onclick="" class="lightbox"  > Message</button>
        	<button style="margin-right:10px; float:right;" onclick="" class="lightbox2"> Add as a Team-Mate</button>
		<div id="activities_container" class="feed_container">
			<h1 class="big-title">Recent Activities</h1>
			<div id="" class="content-box">
				<div id="feed_parcel_container">
					<div id="feed_parcel">
					
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<div id="shoutout_input" class="column-content" >
			<div style="display:block; margin-left:auto; margin-right:auto;" class="input">
                        <textarea style=""class="xlarge" id="shoutout_textarea" name="textarea2" rows="3"></textarea>
                        	<!-- <span class="help-block">
                        		<a href="#">Like</a><a style="margin-left:10px;" href="#">Comment</a>
                        	</span> -->
      </div>
                <button onclick="shoutout_update(event); save_shoutout(); ">POST</button>	
								<br />
								<br />
		</div>

		<div id="real_wall">
    		<% for post in Post.all  %>
				<hr />
			 	<div style="margin-left:0px;margin-bottom:8px; margin-top:8px;"id="post_<%= post.id + 356%>"><%= post.body%></div>
				<a href="#" onclick="add_fan();save_fan();">Fan</a><a style="margin-bottom:90px; margin-left:10px;" onclick="add_comment(<%= post.id + 356%>);save_comment();"href="#">Comment</a>
			<% end %>
			<div style="display:none;margin-top:5px;margin-bottom:5px;margin-left:50px;"id="comments">
				<input type="text" /><button onclick="">Post</button><button style="margin-left:20px;" onclick="">Close</button>
			</div>
		</div>
	</div>
</div>
<br />
<br />
</div>
</div>
</body>

