<style>
	.logIn_label
	{
		padding-left:10px;
	}
	
	.form_field
	{
		height: 30px;
		width: 221px;
		border-radius: 5px;
		outline: none;
		padding-left: 8px;	
		margin-bottom: 10px;
	}
	
	.form_label
	{
		text-align: right;
		color:#002100;
	}
	
	#footerNav li
	{
		display: inline;
		list-style-type: none;
		padding-right: 50px;
	}
	
	#pageBackground
	{
		position: absolute;
		z-index: -100;
		width: 100%;
		margin-top: 50px;
	}
	
	.signUpButton
	{
		background-image: url("/assets/signup.png");
		width: 221px;
		height: 62px;
		border-style: none;
	}
	
	.signUpButton:hover
	{
		background-image: url("/assets/signup_h.png");
		cursor: pointer;
	}
	
	.signUpButton:active
	{
		background-image: url("/assets/signup_a.png");
		cursor: pointer;
	}
	
	.logInButton
	{
		background-image: url("/assets/login.png");
		width: 60px;
		height: 32px;
		border-style: none;
		border-radius: 6px;
		vertical-align: top;
		margin-left: 10px;
	}
	
	.logInButton:hover
	{
		background-image: url("/assets/login_h.png");
		cursor: pointer;
	}
	
	.logInButton:active
	{
		background-image: url("/assets/login_a.png");
		cursor: pointer;
	}
</style>
<div id="pageBackground"><img src="/assets/bg1.png" width="100%" height="400"></div>
<div id="contentContainer" style="height:400px;">
	<div id="container" style="height:50px; background-image: linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -o-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -moz-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -webkit-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -ms-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -webkit-gradient(
									linear,
									left bottom,
									left top,
									color-stop(0.01, #002100),
									color-stop(0.51, #003400));" >
		<div id="greenBar">
				<div id="loggedInMenubar" style="width:1088px; min-width:980px; margin:0 auto;">
					<div id="logoContainer" style="width:187px; padding-left: 30px; padding-top:12px; z-index:5; float:left;">
						<img src="/assets/Huddlers_Logo.png" style="height:25px;"/>
					</div>
					<div id="headNav" style="float:right; z-index:4;">
						<div id="loginForm" class="search" style="float:left; padding-top:10px; color:#9DC975; vertical-align:top; font-size:13px;">
							<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  						<div><%= f.label :email, :class => "logIn_label" %>: <%= f.email_field :email, :class => "form_field" %>
	  						<%= f.label :password, :class => "logIn_label" %>: <%= f.password_field :password, :class => "form_field" %>
	  						<%= f.submit "", :class => "logInButton" %></div>
	  						<% end %>
						</div>
					</div>					
				</div>
		</div>
		<div id="signUpPage" style="width:1088px; min-width:980px; margin:0 auto;">
			<div id="signUpForm" style="padding-right:240px; float:right;">
				<%= render :partial => "devise/shared/links" %>
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>
				  <table style="font-size:13px;">
				  	  <tr>
					  <td><%= f.label :email, :class => "form_label" %>: </td>
					  <td><%= f.email_field :email, :class => "form_field" %></td>
					  </tr>
					  <tr>
					  <td><%= f.label :first_name, "First Name", :class => "form_label" %>: </td>
					  <td><%= f.text_field :first_name, :class => "form_field" %></td>
					  </tr>
					  <tr>
					  <td><%= f.label :last_name, "Last Name", :class => "form_label" %>: </td>
					  <td><%= f.text_field :last_name, :class => "form_field" %></td>
					  </tr>
					  <tr>
					  <td><%= f.label :password, :class => "form_label" %>: </td>
					  <td><%= f.password_field :password, :class => "form_field" %></td>
					  </tr>
					  <tr>
					  <td><%= f.label :password_confirmation, "Confirm Password", :class => "form_label" %>: </td>
					  <td><%= f.password_field :password_confirmation, :class => "form_field" %></td>
					  </tr>
					  <tr>
					  <td></td>
					  <td><%= f.submit "", :class=>"signUpButton" %></td>
					  </tr>
				  </table>
				<% end %>
			</div>
		</div>
	</div>
</div>	
	<!-- <h2>Sign in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %> -->




<div id="footerContainer" style="height:50px; background-image: linear-gradient(bottom, #B8BFA7 22%, #E4E6D5 70%);
									background-image: -o-linear-gradient(bottom, #B8BFA7 22%, #E4E6D5 70%);
									background-image: -moz-linear-gradient(bottom, #B8BFA7 22%, #E4E6D5 70%);
									background-image: -webkit-linear-gradient(bottom, #B8BFA7 22%, #E4E6D5 70%);
									background-image: -ms-linear-gradient(bottom, #B8BFA7 22%, #E4E6D5 70%);
									
									background-image: -webkit-gradient(
										linear,
										left bottom,
										left top,
										color-stop(0.22, #B8BFA7),
										color-stop(0.7, #E4E6D5)
									);" >
		<div id="footerBar" style="width:1088px; min-width:980px; margin:0 auto;>
			<div id="footerNavContainer">
				<ul id="footerNav" style="margin:0;">
					<li style="margin-right:80px;"><a href="#">Sign Up</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Find Teammates</a></li>
					<li><a href="#">Join the Team</a></li>
					<li><a href="#">Testimonials</a></li>
					<li><a href="#">Terms and Conditions</a></li>
				</ul>
			</div>
		</div>
</div>