<style>
	.form_field
	{
		height: 25px;
		border-radius: 5px;
		outline: none;
		padding-left: 8px;	
		margin-bottom: 10px;
	}
	
	.form_label
	{
		text-align: right;
	}
</style>

<div id="container" style="height:50px; background-image: linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -o-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -moz-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -webkit-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -ms-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -webkit-gradient(
									linear,
									left bottom,
									left top,
									color-stop(0.01, #002100),
									color-stop(0.51, #003400));" >
		<div id="greenBar">
				<div id="loggedInMenubar" style="width:1088px; min-width:980px; margin:0 auto;">
					<div id="logoContainer" style="width:187px; padding-left: 30px; padding-top:12px; z-index:5; float:left;">
						<img src="/assets/Huddlers_Logo.png" style="height:25px;"/>
					</div>
					<div id="headNav" style="float:right; z-index:4;">
						<div id="loginForm" class="search" style="float:left; padding-top:12px; color:#9DC975;">
							<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  						<div><%= f.label :email %>: <%= f.email_field :email, :class => "form_field" %>
	  						<%= f.label :password %>: <%= f.password_field :password, :class => "form_field" %>
	  						<%= f.submit "Log In" %></div>
	  						<% end %>
						</div>
					</div>					
				</div>
		</div>
	</div>
	
	<!-- <h2>Sign in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %> -->

<%= render :partial => "devise/shared/links" %>

<div id="signUpPage" style="width:1088px; min-width:980px; margin:0 auto;">
	<div id="signUpForm" style="padding-right:240px; float:right;">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		  <table style="color:#9DC975; font-size:13px;">
		  	  <tr>
			  <td><%= f.label :email, :class => "form_label" %>: </td>
			  <td><%= f.email_field :email, :class => "form_field" %></td>
			  </tr>
			  <tr>
			  <td><%= f.label :first_name, "First Name", :class => "form_label" %>: </td>
			  <td><%= f.text_field :first_name, :class => "form_field" %></td>
			  </tr>
			  <tr>
			  <td><%= f.label :last_name, "Last Name", :class => "form_label" %>: </td>
			  <td><%= f.text_field :last_name, :class => "form_field" %></td>
			  </tr>
			  <tr>
			  <td><%= f.label :password, :class => "form_label" %>: </td>
			  <td><%= f.password_field :password, :class => "form_field" %></td>
			  </tr>
			  <tr>
			  <td><%= f.label :password_confirmation, "Confirm Password", :class => "form_label" %>: </td>
			  <td><%= f.password_field :password_confirmation, :class => "form_field" %></td>
			  </tr>
			  <tr>
			  <td></td>
			  <td><%= f.submit "Sign up" %></td>
			  </tr>
		  </table>
		<% end %>
	</div>
</div>

<div>
	<div id="loggedOutContent">
		<div id="footerContainer">
			<div id="footer">
				<p><font style="color:#000; font-size:12px;">&copy; Huddlers 2011. <b>Powered by Sponsorship</b></font></p>
			</div>
		</div>
	</div>
</div>

