<%= form_for @organization do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :organization_name, "Organization Name" %><br />
    <%= f.text_field :organization_name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
