<style>
	ul
	{
		margin: 0;
		padding: 0; 
	}
	
	#navlist2 li
	{
		display: inline;
		list-style-type: none;
		list-style: none;
		display:inline-block;
		border-top-left-radius: 5px; 
		border-top-right-radius: 5px;
		text-decoration:none; 
		color:black; 
		background-color:#A9A9A9; 
		padding-left:25px; 
		padding-right:25px; 
		padding-top:7px;
		padding-bottom:17px; 
	}
</style>

<script>
	$(document).ready(function() {
	
		/* This is basic - uses default settings */
		
		$("a#single_image").fancybox();
		
		/* Using custom settings */
		
		$("a#inline").fancybox({
			'hideOnContentClick': true
		});
	
		/* Apply fancybox to multiple items */
		
		$("a.group").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'speedIn'		:	600, 
			'speedOut'		:	200, 
			'overlayShow'	:	false
		});
		
	});
</script>
<script>
function DoNav(theUrl)
  {
  	  document.location.href = theUrl;
  }
</script>
  
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.easing-1.4.pack.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<link rel="stylesheet" href="/assets/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

<div id="trophyRoomOuterContainer" style="width:1086px; min-width:980px; margin:0 auto;">
	<div id="trophyRoomIntro">
		<div style="float:right; font-size:12px;">Huddlers &copy; 2011</div>
		<a href="/card/1" style="color:black; text-decoration:none;"><img src="/assets/a2.png" style="padding-right:0.5em;"/>BACK TO MY CARD</a><br />
		<h2 style="position:relative; top:2px;"><b>TROPHY ROOM</b></h2>
	</div>
	<div id="addNew"><a id="inline" href="#newPic">Add a New Picture!</a></div>
	
		<!-- <div id="navcontainer2" style="position:relative; top:10px;  z-index: -100;">
			<ul id="navlist2">
				<li style="background-color:#A9A9A9;" onclick="DoNav('/achievements');">Achievements</li>
				<li style="background-color:#E9EAEA;"><a href="#"; return false>Photos</a></li>
			</ul>
		</div> -->
		<table style="
		text-decoration:none; 
		color:black; 
		padding-top:7px;
		padding-bottom:17px;">
			<tr>
				<td><a href="achievements" style="text-decoration:none; color:white; background-color:#A9A9A9; border-top-left-radius: 5px; border-top-right-radius: 5px; padding:1em;">Achievements</a></td>
				<td style="background-color:#E9EAEA; color:black; border-top-left-radius: 5px; border-top-right-radius: 5px; padding:1em;">Photos</td>
			</tr>
		</table>
		<div style="position:relative; top:-2em; left:0.25em; background-color:#E9EAEA; padding-top:1.5em; padding-left:1.3em; z-index:100; border-top-right-radius:8px; border-bottom-left-radius:8px; border-bottom-right-radius:8px;">
			<div style="display:none;">
			<div id="newPic">
				<h1>New Picture</h1>
				<%= render 'form' %>
			</div>
			
			<div id="pic1">
				<center>
					<img src="/assets/adam1.png" style="max-height:500px; max-width:500px;"/>
				</center>
				<div id="picCaption" style="width:500px; margin-top:1em;">
					Picture Caption
				</div>
				<div style="width:800px; margin-top:1em;">
<!-- 					<%= Post.all %> -->
				</div>
			</div>
			
			<div id="pic2">
				<center>
					<img src="/assets/adam2.png" style="max-height:500px; max-width:500px;"/>
				</center>
				<div id="picCaption" style="width:500px; margin-top:1em;">
					Picture Caption
				</div>
				<div style="width:800px; margin-top:1em;">
<!-- 					<%= Post.all %> -->
				</div>
			</div>
			
			<div id="pic3">
				<center>
					<img src="/assets/adam3.png" style="max-height:500px; max-width:500px;"/>
				</center>
				<div id="picCaption" style="width:500px; margin-top:1em;">
					Picture Caption
				</div>
				<div style="width:800px; margin-top:1em;">
<!-- 					<%= Post.all %> -->
				</div>
			</div>
			
			<div id="pic4">
				<center>
					<img src="/assets/adam4.png" style="max-height:500px; max-width:500px;"/>
				</center>
				<div id="picCaption" style="width:500px; margin-top:1em;">
					Picture Caption
				</div>
				<div style="width:800px; margin-top:1em;">
<!-- 					<%= Post.all %> -->
				</div>
			</div>
			
			<div id="pic5">
				<center>
					<img src="/assets/adam5.png" style="max-height:500px; max-width:500px;"/>
				</center>
				<div id="picCaption" style="width:500px; margin-top:1em;">
					Picture Caption
				</div>
				<div style="width:800px; margin-top:1em;">
<!-- 					<%= Post.all %> -->
				</div>
			</div>
			
			<div id="pic6">
				<center>
					<img src="/assets/adam6.png" style="max-height:500px; max-width:500px;"/>
				</center>
				<div id="picCaption" style="width:500px; margin-top:1em;">
					Picture Caption
				</div>
				<div style="width:800px; margin-top:1em;">
<!-- 					<%= Post.all %> -->
				</div>
			</div>
			
			<div id="pic7">
				<center>
					<img src="/assets/adam7.png" style="max-height:500px; max-width:500px;"/>
				</center>
				<div id="picCaption" style="width:500px; margin-top:1em;">
					Picture Caption
				</div>
				<div style="width:800px; margin-top:1em;">
<!-- 					<%= Post.all %> -->
				</div>
			</div></div>
			
			<div id="paintings">
			    <div class="picture">
			      <div class="image_placeholder2" style="overflow:hidden; text-align:center;">
			      	<a id="inline" href="#pic1"><img src="/assets/adam1.png" height="183"/></a>
			      </div>
			      <div class="actions">
<!-- 			      	<a href="#">edit</a>&nbsp;<a href="#">remove</a> -->
			      </div>
			    </div>
			    
			    <div class="picture">
			      <div class="image_placeholder2" style="overflow:hidden; text-align:center;">
			      	<a id="inline" href="#pic2"><img src="/assets/adam2.png" height="183"/></a>
			      </div>
			      <div class="actions">
<!-- 			      	<a href="#">edit</a>&nbsp;<a href="#">remove</a> -->
			      </div>
			    </div>
			    
			    <div class="picture">
			      <div class="image_placeholder2" style="overflow:hidden; text-align:center;">
			      	<a id="inline" href="#pic3"><img src="/assets/adam3.png" height="183"/></a>
			      </div>
			      <div class="actions">
<!-- 			      	<a href="#">edit</a>&nbsp;<a href="#">remove</a> -->
			      </div>
			    </div>
			    
			    <div class="picture">
			      <div class="image_placeholder2" style="overflow:hidden; text-align:center;">
			      	<a id="inline" href="#pic4"><img src="/assets/adam4.png" height="183"/></a>
			      </div>
			      <div class="actions">
<!-- 			      	<a href="#">edit</a>&nbsp;<a href="#">remove</a> -->
			      </div>
			    </div>
			  <div class="clear"></div>
			</div>
			
			<!-- <div id="paintings">
			  <% for picture in current_user.pictures %>
			    <div class="picture">
			      <div class="name"><%= picture.name %></div>
			      <div class="image_placeholder"></div>
			      <div class="actions">
			      	<%= link_to "edit", edit_picture_path(picture) %>
			        <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
			      </div>
			    </div>
			  <% end %>
			  <div class="clear"></div>
			</div> -->
			
			<div class="picture">
			      <div class="image_placeholder" style="overflow:hidden; text-align:center;">
			      	<a id="inline" href="#pic5"><img src="/assets/adam5.png" height="110"/></a>
			      </div>
			      <div class="actions">
<!-- 			      	<a href="#">edit</a>&nbsp;<a href="#">remove</a> -->
			      </div>
			    </div>
			    
			    <div class="picture">
			      <div class="image_placeholder" style="overflow:hidden; text-align:center;">
			      	<a id="inline" href="#pic6"><img src="/assets/adam6.png" height="110"/></a>
			      </div>
			      <div class="actions">
<!-- 			      	<a href="#">edit</a>&nbsp;<a href="#">remove</a> -->
			      </div>
			    </div>
			    
			    <div class="picture">
			      <div class="image_placeholder" style="overflow:hidden; text-align:center;">
			      	<a id="inline" href="#pic7"><img src="/assets/adam7.png" height="110"/></a>
			      </div>
			      <div class="actions">
<!-- 			      	<a href="#">edit</a>&nbsp;<a href="#">remove</a> -->
			      </div>
			    </div>
			  <div class="clear"></div>
			</div>
</div>
