<style>
	#navlist li
	{
		display: inline;
		display: table-cell;
		height: 30px;
		list-style-type: none;
		vertical-align: middle;
		padding-top: 0px;
		padding-right: 5px;
	}
	
	#q
	{
		width: 400px;
		border-radius: 10px;
		outline: none;
		padding-left: 8px;
	}
	
	.submit_tag
	{
		height: 20px;
		width: 20px;
		vertical-align: middle;
	}
</style>

<script>
var tggle='off'
	
	function DownHover(){ 
		if (tggle=='on'){ 
			document.Symbol3.src="/assets/down.png" 
			tggle='off'
		} else { 
			document.Symbol3.src="/assets/down_h.png" 
			tggle='on'
		} 
	}
	
	function DownClick(){
		if (tggle=='off'){ 
			document.Symbol3.src="/assets/down_h.png" 
			tggle='on'
		} else { 
			document.Symbol3.src="/assets/down_a.png" 
			tggle='off'
		}
	}
</script>

<!DOCTYPE html>
<html>
<head>
  <title>Huddlers</title>
  <%= stylesheet_link_tag    "application.css" %>
  <%= javascript_include_tag "application.js" %>
  <%= stylesheet_link_tag "layout.css" %>
  <%= javascript_include_tag "layout.js" %>
  <%= csrf_meta_tags %> 
</head>

<body>
	<% if user_signed_in? %>
	<div id="headerContainer" style="height:50px; background-image: linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -o-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -moz-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -webkit-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -ms-linear-gradient(bottom, #002100 1%, #003400 51%);
								background-image: -webkit-gradient(
									linear,
									left bottom,
									left top,
									color-stop(0.01, #002100),
									color-stop(0.51, #003400));" >
		<div id="greenBar">
				<div id="loggedInMenubar" style="width:1088px; min-width:980px; margin:0 auto;">
					<div id="logoContainer" style="width:187px; padding-left: 30px; padding-top:12px; z-index:5; float:left;">
						<img src="/assets/Huddlers_Logo.png" style="height:25px;"/>
					</div>
					<div id="headNav" style="padding-left: 277px; z-index:4;">
						<div id="searchForm" class="search" style="float:left; padding-top:12px;">
							<%= form_tag("/search", :method => "get") do %>
							<%= label_tag(:q, "") %>
							<%= text_field_tag(:q) %>
							<%= image_submit_tag("/assets/search.png", :class => "submit_tag") %>
							<% end %>
						</div>
						<div id="userNavContainer" style="float:right; color: #9DC975; font-size:12px; z-index:4; padding-top:5px;">
							<ul id="navlist" style="display: table;">
								<a href="#" style="text-decoration: none;"><li style="color:#9DC975; padding-top:12px;"><%= current_user.first_name %> <%= current_user.last_name %></li>
									<li id="active"><img src="/assets/profile.png" height="30" width="30" style="border-radius:3px;" /></li></a>
								<li><div style="display:inline;" onmouseup="DownClick()"; onmousedown="DownClick()"; onmouseover="DownHover()"; onmouseout="DownHover()";><a href="#"><img src="/assets/down.png" id="Symbol3" name="Symbol3" style="padding-top:3px;" /></a></div></li>
							</ul>
						</div>
					</div>					
				</div>
		</div>
	</div>

<!--	<div style="display:none;" id="user_nav"> -->
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?
	    <%= link_to "Sign Out", destroy_user_session_path %>
	  <% end %>
<!--	</div> -->
	<%= yield %>
<% else %>
	<%= yield %>
<% end %>
	

</body>

</html>
